
// build:js js/vendоr.min.js
// bower:js
script(src="libs/jquery/dist/jquery.js")
script(src="libs/qtip2/jquery.qtip.js")
// endbower
// endbuild

// build:js js/main.min.js
script(src="js/script.js")
// endbuild