doctype html
html

    head
        block meta
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            meta(charset="UTF-8")

        block styles
            link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")

            // build:css css/vendоr.min.css
            // bower:css

            // endbower
            // endbuild

            // build:css css/main.min.css
            link(rel="stylesheet" href="css/main.css")
            // endbuild

        // build:js js/modernizr.min.js
        script(src="libs/modernizer/modernizr.js")
        // endbuild

        title title


